<%- include('../partials/header'); -%>

<h1>Welcome the Appmod Blueprints Workshop</h1>

<div>
    <h3>
        <em>This is a sample web app written in node</em>
    </h3>
</div>

<%- include ('../partials/footer'); -%>