</div>
</body>

<footer>
  <div id="footer" class="panel-footer">
    <a href="https://aws.amazon.com/privacy/">Privacy</a> | <a href="https://aws.amazon.com/privacy/">Site
        terms</a>
      | © 2023, Amazon Web Services, Inc. or its affiliates. All rights reserved.
  </div>
</footer>

</html>